#
# Shorewall version 4 - Rules File
#
# For information on the settings in this file, type "man shorewall-rules"
#
# The manpage is also online at
# http://www.shorewall.net/manpages/shorewall-rules.html
#
####################################################################################################################################################
#ACTION		SOURCE		DEST		PROTO	DEST	SOURCE		ORIGINAL	RATE		USER/	MARK	CONNLIMIT	TIME
#							PORT	PORT(S)		DEST		LIMIT		GROUP
#SECTION ESTABLISHED
#SECTION RELATED
SECTION NEW
LocSrv		loc	fw
ACCEPT		fw	loc
NetSrv		net	fw
NetCon		fw	net
MasqCon		loc	net
ACCEPT		loc	ito
ACCEPT		fw	ito
ItoSrv		ito	loc
ItoSrv		ito	fw
ACCEPT		ito:10.101.3.0/24	loc

ACCEPT		cli	fw
MasqCli		cli	net

DNAT		net		loc:10.101.2.5	tcp	openvpn
DNAT		net		loc:10.101.2.5	udp	openvpn
DNAT		fw		loc:10.101.2.5	udp	openvpn
DNAT		fw		loc:10.101.2.5	tcp	openvpn


#ACCEPT		ito:10.101.1.25,10.101.1.10,10.101.1.26,10.101.254.118,10.101.1.152	loc:10.101.2.25,10.101.2.26,10.101.2.27
#ACCEPT		loc:10.101.2.25,10.101.2.26,10.101.2.27		ito:10.101.1.25,10.101.1.26,10.101.254.118,10.101.1.10,10.101.1.152
ACCEPT		ito	loc:10.101.2.25,10.101.2.26,10.101.2.27
ACCEPT		loc	ito:10.101.1.25,10.101.1.26

DNAT		net		loc:10.101.2.3	tcp	25
#DNAT		all		loc:10.101.2.3	tcp	imaps	-	mail.ito.kiev.ua

DNAT		net		loc:10.101.2.253	udp	21190
DNAT		net		loc:10.101.2.253	udp	21191

DNAT:info	net:212.90.191.3	loc:10.101.2.25	udp	5260
DNAT		net:212.90.191.0/28	loc:10.101.2.26	udp	10000:65535

DNAT:info	net:78.46.95.110	loc:10.101.2.25	udp	5060
DNAT:info	net:78.46.95.110	loc:10.101.2.25	tcp	5060
DNAT		net:78.46.95.110	loc:10.101.2.26	udp	10000:65535


#ACCEPT		all	all
